.landing-info-text a{
	color: white;
	text-decoration: underline;
}

.button.secondary {
    background-color: black;
    box-shadow: 4px 7px 12px 0 rgba(97,93,250,.2);
	color: white;
}

.button.secondary:hover{
	background-color: #464646;
	color: white;
}

.form-box .button{
	width: 100%;
}

.landing{
    width: 100%;
    height: 100%;
    background: url(../img/landing/viviboom-landing-background.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
}

.header{
	background-color: black;
}

.header .title{
	font-family: Titillium Web,sans-serif;
	    font-size: 48px;
	    font-weight: 900;
		color: white;
		margin-left: 10px;
}

.menu-main .menu-main-item .menu-main-item-link{
	font-size: 16px;
}

.action-list:after, .action-list:before{
	width: 0px;
}

.dropdown-box-button.secondary{
	background-color: black;
}


.grid.grid-3-3-3, .grid.grid-3-3-3-3 {
    grid-template-columns: repeat(auto-fit, 30%);
}

.user-short-description.big {
    padding-top: 25px;
}

.profile-header .profile-header-info .user-stats{
	top: 60px;
}

.profile-header .profile-header-info{
	height: 130px;
}

.profile-header .profile-header-info .user-stats {
    top: 15px;
}

.profile-header .profile-header-info .user-stats{
	position: relative;
	left: auto;
}

.user-short-description.big .user-short-description-title{
	font-size: 28px;
}

.product-preview .product-preview-info .button{
	font-size: 18px;
}

.mainhome-boxes .product-preview .product-preview-info .product-preview-title a{
	font-weight: 400;
	line-height: normal;
}

.product-preview .product-preview-info{
	text-align: center;
}

.account-hub-content{
	margin-bottom: 60px;
}

.project-listing .product-preview .product-preview-info .product-preview-title{
	font-size: 24px;
}

.project-listing .product-preview .product-preview-meta{
	height: auto;
	padding: 14px 28px;
}

.project-listing .product-preview .product-preview-author .product-preview-author-title{
	font-size: 16px;
	padding-left: 20px;
}

.project-listing .product-preview .product-preview-author .product-preview-author-text{
	font-size: 16px;
	padding-left: 20px;
}

.project-listing .user-avatar.no-border.micro {
    width: 30px;
    height: 32px;
}

.button.primary, .button.primary:hover{
	color: white;
}

.bigaction-button-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.bigaction-button-wrapper .button{
	margin: 0 auto;
	font-size: 16px;
}

p.badge-item-stat-text.badge-not-earned {
    width: 100%;
    margin: 10px 0 0 0;
    color: #a2a2a2;
    font-weight: bold;
}

.badge-not-earned a:hover{
	text-decoration: underline;
}

p.badge-item-stat-text.badge-earned {
    width: 100%;
    margin: 10px 0 0 0;
    color: #ef9e09;
    font-weight: bold;
}

.quest-item-meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 22px;
    padding: 14px 0;
    border-top: 1px solid #eaeaf5;
}

.quest-item-meta-title, .quest-item-meta-text{
	font-size: 14px;
	padding-left: 10px;
	font-weight: bold;
}

.badge-item-stat {
    padding: 32px 0px 0px;
}

.badge-item-stat .quest-item-meta{
	padding-left: 20px;
	padding-right: 20px;
}

.badge-item-stat:hover {
    box-shadow: 0 0 10px 0 rgba(0, 184, 255, .8);
}

p.section-pretitle.badge-description {
    margin-top: 15px;
}

.white-container-box .grid{
	margin-top: 0px;
}

.white-container-box .badge-image-container{
	margin: 0 auto;
}

.white-container-box {
    align-items: center;
	height: auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
    background-color: #fff;
    margin-top: 20px;
	margin-bottom: 40px;
}

.white-container-box.right-side{
	padding: 20px;
}

.white-container-box .section-title{
	margin-bottom: 10px;
}

.white-container-box .section-pretitle{
	margin-bottom: 10px;
	line-height: 1.5;
}

.badge-idea-container{
	padding-right: 10px;
}

.badge-idea-container .badge-idea-description a{
	color: #22d3e1;
	font-weight: bold;
}

.badge-idea-container .badge-idea-description{
	font-family: Rajdhani,sans-serif;
	margin-top: 10px;
}

.badge-idea-container{
	margin-top: 20px;
}

.profile-listing .user-short-description {
    padding-top: 65px;
}

.profile-listing .user-preview .user-preview-info .badge-list {
    margin-top: 10px;
}

.profile-listing .user-preview .user-preview-info .user-preview-actions{
	margin-top: 20px;
}

.project-listing .bigaction-button-wrapper.create-project {
    margin-top: 0px;
    margin-bottom: 40px;
}

.profile-numprojects{
    text-align: center;
    margin-top: 10px;
}

.profile-numprojects span{
	color: #3e3f5e;
    font-family: Rajdhani,sans-serif;
    line-height: 1em;
    font-weight: bold;
}

.num_likes{
	margin-left: 5px;
	margin-top: 5px;
}

.content-action.project-single{
	margin-top: 10px;
}

.project-single .post-option{
	width: 100px;
	margin-left: 10px;
}


.projectupload-filefields {
    margin-top: 20px;
}

.projectupload-filefields input[type="file"] {
    margin-left: 20px;
}

.projectupload-filefields.form-input label{
	top: -20px;
}

.project-upload-badgelisting{
	margin-top: 60px;
}

.badge-item-stat.selected{
	border: 4px solid #62c762;
}

@media screen and (max-width: 768px) {

	.grid.grid-3-3-3, .grid.grid-3-3-3-3 {
	    grid-template-columns: repeat(auto-fit, 100%);
	}
}