.landing-form {
    top: 25%;
}

.form-box {
    box-shadow: 10px 10px #8f8f8f;
    text-align: center;
}

.form-box p {
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button.warning {
    background: #f9515c;

}

.button.warning:hover {
    background: #dd343f;

}

.form-box .button.primary {
    font-size: 30px;
}

.form-box .button.primary:hover {
    border: 3px solid #013539;
}

.builderpal .chat-widget-wrap .chat-widget .chat-widget-messages {
    height: auto;
    padding: 20px;
}

.builderpal .starter-title-message {
    font-weight: bold;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.builderpal .chat-widget-messages .button.starter {
    margin-bottom: 20px;
}

.builderpal .chat-widget-messages .button.starter:hover,
.builderpal .simplebar-content .button.mid-dialogue:hover {
    border: 3px solid #013539;
}

.builderpal .chat-widget-form .form-item.input-container {
    width: 70%;
}

.builderpal .content-grid .grid {
    margin-top: 0px;
}


.builderpal .content-grid {
    padding-top: 100px;
}

.builderpal .content-grid .section-header {
    margin-top: 30px;
}

.builderpal .simplebar-content .button.mid-dialogue {
    margin-top: 20px;
}

.builderpal .dreamerbuilderpal-left .chat-widget,
.builderpal .instructablepal-left .chat-widget,
.guidance-chat.chat-widget {
    width: auto;
    padding: 20px;
    border-radius: 20px;
}

.builderpal .dreamerbuilderpal-left,
.builderpal .dreamerbuilderpal-right,
.builderpal .instructablepal-left,
.builderpal .instructablepal-right {
    display: inline-block;
    vertical-align: top;
}

.builderpal .dreamerbuilderpal-left,
.builderpal .instructablepal-left {
    width: 30%;
    padding: 20px;
}

.builderpal .dreamerbuilderpal-right,
.builderpal .instructablepal-right {
    width: 68%;
    padding: 20px;
}

.builderpal .dreamerbuilderpal-right .quest-item {
    width: 47%;
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
    height: 380px;
    margin-bottom: 40px;
}

.builderpal .dreamerbuilderpal-right .button.letstry,
.builderpal .instructablepal-right .button.letstry {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 4px 7px 12px 0 rgb(36 36 36 / 20%);
    margin-top: 20px;
    margin-bottom: 20px;
}

.builderpal .dreamerbuilderpal-right .button.letstry:hover,
.builderpal .instructablepal-right .button.letstry:hover {
    border: 3px solid black;
}

.builderpal .dreamerbuilderpal-right .quest-item .quest-item-text {
    margin-top: 18px;
    color: #3e3f5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4285714286em;
    height: 80px;
    overflow: hidden;
}

.builderpal .dreamerbuilderpal-right .midway-checkpoint,
.builderpal .instructablepal-right .midway-checkpoint {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 40px;
}

.builderpal .dreamerbuilderpal-right .midway-checkpoint .button,
.builderpal .instructablepal-right .midway-checkpoint .button {
    max-width: 40%;
    margin-right: 2%;
    margin-left: 2%;
}

.builderpal .dreamerbuilderpal-right .midway-checkpoint .button:hover,
.builderpal .instructablepal-right .midway-checkpoint .button:hover {
    border: 3px solid black;
}

.builderpal .instructablepal-right .quest-esttime {
    margin-top: 10px;
    font-size: 1rem;
}

.builderpal .instructablepal-right .quest-item .quest-item-cover {
    height: 250px;
}

.builderpal .instructablepal-right .quest-item .quest-item-info {
    padding-top: 20px;
}

.builderpal .instructablepal-right .quest-item .quest-item-text {
    height: 50px;
    margin-top: 10px;
    color: #3e3f5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4285714286em;
    overflow: hidden;
}

.builderpal .instructablepal-right .quest-item {
    height: 485px;
    width: 47%;
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
    margin-bottom: 40px;
}

.profile-header .profile-header-info {
    height: auto;
}

.user-short-description.big {
    padding-top: 20px;
}

.profile-header .profile-header-info .user-stats {
    position: relative;
    top: 20px;
    left: auto;
}

.user-stat {
    width: 100%;
}

.downloads {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    max-width: 500px;
    /* Adjust this as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: auto;
}

#attachments {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.thumb-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.file-thumb {
    margin-right: 10px;
    background-color: #f2f2f2;
    /* Placeholder in case the image fails to load */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.file-thumb img {
    display: block;
}

.title {
    font-size: 19px;
}

.file-actions .btn {
    text-decoration: none;
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    cursor: pointer;
}

.file-actions .btn:hover {
    background-color: #c9302c;
}

.ible-files {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.file-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1; /* Light grey border */
}

.thumb-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black; /* Assuming the text is black */
}

.file-thumb img {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

.title {
    flex-grow: 1; /* Allows the title to take up remaining space */
    margin-right: 10px; /* Spacing before the buttons */
}

.file-actions {
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: #f5f5f5; /* Light grey background */
    border: 1px solid #dcdcdc; /* Grey border */
    border-radius: 4px;
    padding: 10px 15px;
    margin-left: 10px; /* Spacing between buttons */
    text-decoration: none;
    color: #333; /* Darker text for the buttons */
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e1e1e1; /* Slightly darker on hover */
}

/* Additional styling for the 'View in 3D' button if needed */
.view-in-3d-btn {
    /* Specific styles for 'View in 3D' button */
    display: none !important; /* This ensures that the rule takes priority over others */
}

/* Hides screen-reader-only elements visually but keeps them accessible to screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Clearfix to ensure the .file-info container properly wraps its floated children */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
